

.player-board {
  background-color: white;

  .personal-objective-wrapper {
    display: flex;
    justify-content: center;

    &[data-expanded="true"] {
      .collapsed {
        display: none;
      }
    }
    &[data-expanded="false"] {
      .collapsed {
        display: flex;
      }
      .expanded {
        display: none;
      }
    }
    
    .personal-objective {
      margin: 10px;

      &.collapsed {
        .letter {
          border-radius: 50%;
          background: black;
          color: white;
          width: 20px;
          display: flex;
          height: 20px;
          justify-content: center;
          align-items: center;
          margin: 0 3px;
        }
      }

      &.expanded {
        background-size: auto 100%;
        transform-origin: center center;
  
        &.big {
          width: 120px;
          height: 86px;
          background: url('img/personal-objectives-big.png');
        }
        &.small {
          width: 86px;
          height: 120px;
          background: url('img/personal-objectives-small.png');
        }
  
        @for $i from 1 through 5 {
          &[data-type="#{$i}"] {
            background-position-x: #{($i - 1) * 25%};
          }
        }
  
        &:hover, &:active {
          transform: scale(2);
          z-index: 1;
        }
      }
    }

    }

  &.eliminated-player {
    background-color: #b9b9b9;

    .player-name a {
      text-decoration: line-through;
    }

    .personal-objective-wrapper {
      display: none;
    }
  }

  &.spectator-mode {
    * {
      background: white !important;
    }
  }
}

#firstPlayerBoardToken {
  width: 32px;
  height: 32px;
}
