#player-tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player-table {
  margin: 20px;
  width: 700px;
  height: 700px;
  position: relative;
  font-family: 'Caveat';
  font-size: 16pt;

  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;

    @for $i from 1 through 5 {
      &[data-type="#{$i}"] {
        background: url('img/score-pad-top-#{$i}.png');
      }
    }
  }

  .main {
    position: absolute;
    top: 77px;
    left: 0;
    width: 100%;
    height: 623px;
    background: url('img/score-pad.png');

    .block {
      position: absolute;

      @import 'score-sheet-main';

      .checkmark {
        position: absolute;
        background: #00FF0080;
        text-align: center;
        font-size: 22pt;
        width: 28px;
        height: 27px;
        margin-top: -8px;
      }

      .subtotal, .special {
        position: absolute;
        text-align: center;
        width: 28px;
        height: 27px;
        right: 7px;
      }

      .total {
        position: absolute;
        text-align: center;
        bottom: 0;
        right: 0;
        width: 43px;
        height: 41px;
        font-size: 22pt;
      }
    }

    .score.total {
      position: absolute;
      text-align: center;
      bottom: 16px;
      right: 29px;
      width: 103px;
      height: 41px;
      font-size: 40pt;
      margin-bottom: 15px;
      margin-right: 7px;
    }
  }

  .name {
    position: absolute;
    top: 99px;
    left: 62px;
    width: 133px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [data-unvalidated="true"] {
    color: red;
  }
}