

.player-board {
  background-color: white;

  .personal-objective-label {
    text-align: center;
  }

  .personal-objective-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    &[data-expanded="true"] {
      .collapsed {
        display: none;
      }
    }
    &[data-expanded="false"] {
      .collapsed {
        display: flex;
      }
      .expanded {
        display: none;
      }
      .arrow {        
        transform: rotate(180deg);
      }
    }

    .arrow {
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      background: url('img/fold.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition: transform 0.5s;
    }
    
    .personal-objective {
      margin: 10px;
      user-select: none;

      &.collapsed {
        .letter {
          border-radius: 50%;
          background: black;
          color: white;
          width: 20px;
          display: flex;
          height: 20px;
          justify-content: center;
          align-items: center;
          margin: 0 3px;

          &[data-reached="true"] {
            background: green;
          }
          &[data-reached="false"] {
            background: rgb(148, 0, 0);
          }
        }
      }

      &.expanded {
        background-size: auto 100%;
        transform-origin: center center;
        border-radius: 10px;
  
        &.big {
          width: 120px;
          height: 84px;
          background-image: url('img/personal-objectives-big.png');
        }
        &.small {
          width: 84px;
          height: 120px;
          background-image: url('img/personal-objectives-small.png');
        }
  
        @for $i from 1 through 5 {
          &[data-type="#{$i}"] {
            background-position-x: #{($i - 1) * 25%};
          }
        }
  
        &:hover, &:active {
          transform: scale(2);
          z-index: 1;
        }
      }
    }

    }

  &.eliminated-player {
    background-color: #b9b9b9;

    .player-name a {
      text-decoration: line-through;
    }

    .personal-objective-wrapper {
      display: none;
    }
  }

  &.spectator-mode {
    * {
      background: white !important;
    }
  }
}

#firstPlayerBoardToken {
  width: 32px;
  height: 32px;
}
