$marker-size: 6px;

#center {  
  display: flex;
  justify-content: center;

  #map {
    width: 740px;
    height: 740px;
    position: relative;
  
    &[data-size="small"] {
      background: url('img/map-small.jpg');
      
      #map-elements {
        transform: rotate(45deg);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

        .route {
          &[data-direction="0"] {
            flex-direction: column;

            .marker {
              height: $marker-size;
            }
          }
          &[data-direction="1"] {
            .marker {
              width: $marker-size;
            }
          }
        }
      }
      
    }
    &[data-size="big"] {
      background: url('img/map-big.jpg');
      
      #map-elements {
        .route {
          &[data-direction="0"] {
            .marker {
              width: $marker-size;
            }
          }
          &[data-direction="1"] {
            flex-direction: column;

            .marker {
              height: $marker-size;
            }
          }
        }
      }
    }

    #map-elements {
      width: 740px;
      height: 740px;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center center;

      .intersection {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 20%;

        &.selectable {
          cursor: pointer;
          animation: highlight-intersection-animation 1s alternate infinite ease-in-out;
        }
      }

      .departure-pawn {
        width: 32px;
        height: 32px;
        mask: url('img/departure.svg') no-repeat center / contain;
        -webkit-mask: url('img/departure.svg') no-repeat center / contain;
      }

      .marker {
        width: 32px;
        height: 32px;
        box-shadow: 1px 1px 1px 1px black;
        transition: opacity 0.5s;
        margin: 1px 0;

        &.unvalidated {
          opacity: 0.5;
        }

        &.ghost {
          cursor: pointer;
          animation: highlight-route-clean-animation 1s alternate infinite ease-in-out;

          &.traffic-jam {
            animation: highlight-route-traffic-jam-animation 1s alternate infinite ease-in-out;
          }

          &.turn-zone {
            animation: highlight-route-turn-zone-animation 1s alternate infinite ease-in-out;
          }

          &.elimination {
            animation: highlight-route-elimination-animation 1s alternate infinite ease-in-out;
          }
        }
      }

      .route {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
      }
    }
  }
}

@keyframes highlight-intersection-animation {
  0% { 
    box-shadow: 0 0 20px 10px white;
  }
  100% { 
    box-shadow: 0 0 30px 15px white;
  }
}

@keyframes highlight-route-clean-animation {
  0% { 
    box-shadow: 0 0 5px 3px green;
  }
  100% { 
    box-shadow: 0 0 10px 5px green;
  }
}

@keyframes highlight-route-traffic-jam-animation {
  0% { 
    box-shadow: 0 0 5px 3px greenyellow;
  }
  100% { 
    box-shadow: 0 0 10px 5px greenyellow;
  }
}

@keyframes highlight-route-turn-zone-animation {
  0% { 
    box-shadow: 0 0 5px 3px orange;
  }
  100% { 
    box-shadow: 0 0 10px 5px orange;
  }
}

@keyframes highlight-route-elimination-animation {
  0% { 
    box-shadow: 0 0 5px 3px black;
  }
  100% { 
    box-shadow: 0 0 10px 5px black;
  }
}
