$marker-size: 6px;

#center {  
  display: flex;
  justify-content: center;

  #map {
    width: 740px;
    height: 740px;
    position: relative;
  
    &[data-size="small"] {
      background: url('img/map-small.jpg');
      
      #map-elements {
        transform: rotate(45deg);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

        .route {
          &[data-direction="0"] {
            flex-direction: column;

            .marker {
              height: $marker-size;
            }
          }
          &[data-direction="1"] {
            .marker {
              width: $marker-size;
            }
          }
        }

        .common-objective-slot {
          top: 374px;

          &#common-objective-slot-1 {
            left: -22px;
          }
          &#common-objective-slot-2 {
            left: 88px;
          }
        }
      }
      
    }
    &[data-size="big"] {
      background: url('img/map-big.jpg');
      
      #map-elements {
        .route {
          &[data-direction="0"] {
            .marker {
              width: $marker-size;
            }
          }
          &[data-direction="1"] {
            flex-direction: column;

            .marker {
              height: $marker-size;
            }
          }
        }

        .common-objective-slot {
          top: 3px;

          &#common-objective-slot-1 {
            left: 344px;
          }
          &#common-objective-slot-2 {
            left: 459px;
          }
        }
      }
    }

    #map-elements {
      width: 740px;
      height: 740px;
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center center;

      .intersection {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 20%;

        &.selectable {
          cursor: pointer;
          animation: highlight-intersection-animation 1s alternate infinite ease-in-out;
        }

        .objective-letter {
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: -9px;
          right: -6px;
        }
      }

      .departure-pawn {
        width: 32px;
        height: 32px;
        mask: url('img/departure.svg') no-repeat center / contain;
        -webkit-mask: url('img/departure.svg') no-repeat center / contain;
      }

      .marker {
        width: 32px;
        height: 32px;
        box-shadow: 1px 1px 1px 1px black;
        transition: opacity 0.5s;
        margin: 1px 0;

        &.unvalidated {
          opacity: 0.5;
        }

        &.ghost {
          cursor: pointer;
          animation: highlight-route-clean-animation 1s alternate infinite ease-in-out;

          &.traffic-jam {
            animation: highlight-route-traffic-jam-animation 1s alternate infinite ease-in-out;
          }

          &.turn-zone {
            animation: highlight-route-turn-zone-animation 1s alternate infinite ease-in-out;
          }

          &.elimination {
            animation: highlight-route-elimination-animation 1s alternate infinite ease-in-out;
          }
        }
      }

      .route {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
      }
    }

    .pips {
      position: absolute;
      pointer-events: none;

      &[data-side="left"] {
        left: 0;
      }
      &[data-side="right"] {
        right: 0;
      }

      &#pips-top {
        top: 0;
      }
      &#pips-bottom {
        bottom: 0;
      }

      .pip {
        position: relative;
        border: 5px ridge #e4273e;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}

@keyframes highlight-intersection-animation {
  0% { 
    box-shadow: 0 0 20px 10px white;
  }
  100% { 
    box-shadow: 0 0 30px 15px white;
  }
}

@keyframes highlight-route-clean-animation {
  0% { 
    box-shadow: 0 0 5px 3px green;
  }
  100% { 
    box-shadow: 0 0 10px 5px green;
  }
}

@keyframes highlight-route-traffic-jam-animation {
  0% { 
    box-shadow: 0 0 5px 3px greenyellow;
  }
  100% { 
    box-shadow: 0 0 10px 5px greenyellow;
  }
}

@keyframes highlight-route-turn-zone-animation {
  0% { 
    box-shadow: 0 0 5px 3px orange;
  }
  100% { 
    box-shadow: 0 0 10px 5px orange;
  }
}

@keyframes highlight-route-elimination-animation {
  0% { 
    box-shadow: 0 0 5px 3px black;
  }
  100% { 
    box-shadow: 0 0 10px 5px black;
  }
}

.common-objective-slot {
  position: absolute;

  .common-objective {
    width: 86px;
    height: 120px;

    @for $i from 1 through 6 {
      &[id="common-objective-#{$i}"] .card-side {
        background-position-x: #{($i - 1) * 20%};
      }
    }
    
    .card-side {
      background: url('img/common-objectives.png');
      background-size: auto 200%;
    
      &.front {
        background-position-y: 0%;
      }
      
      &.back {
        background-position-y: 100%;
      }
    }
  }
}

.ticket-slot {
  position: absolute;

  .ticket {
    width: 86px;
    height: 120px;

    @for $i from 1 through 12 {
      &[data-side="1"][data-ticket="#{$i}"] .card-side {
        background-position-x: #{$i * 100% / 12};
      }
    }
    
    .card-side {
      background: url('img/common-objectives.png');
      background-size: auto 200%;
    
      &.front {
        background-position-y: 0%;
      }
      
      &.back {
        background-position-y: 100%;
      }
    }
  }
}

.card-inner {
  position: absolute;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  &[data-side="1"] {
    transform: rotateY(180deg);
  }

  .card-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    overflow: hidden;
  
    transition: transform 0.8s;
    transform-style: preserve-3d;
  
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  
    &.back {  
      transform: rotateY(180deg);
    }
  }
}