html, .mode_3d #game_play_area_background {
  background: url('img/background.jpg') #102f50;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Caveat';
  src: url('img/font/Caveat-Regular.woff2') format('woff2'),
    url('img/font/Caveat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.first-player-token {
    position: relative;
    background: url('img/first-player.png');
    background-size: contain;
}

#firstPlayerBoardToken {
  width: 32px;
  height: 32px;
}

#firstPlayerTableToken {
  width: 64px;
  height: 64px;
}

.personal-objective-wrapper {
  display: flex;
  justify-content: center;
  .personal-objective {
    width: 150px;
    height: 90px;
    background: aquamarine;
    margin: 10px;
  }
}

@import 'table-center';
@import 'player-table';