$marker-size: 6px;

#map {
  --position-indicator-color: black;
  --position-indicator-left: -10000px;
  --position-indicator-top: -10000px;

  box-shadow: 1px 1px 2px 2px #00000099;
  width: 740px;
  height: 740px;
  min-width: 740px;
  min-height: 740px;
  position: relative;
  background-size: contain;

  .position-indicator {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: var(--position-indicator-color) transparent transparent transparent;
    transition: left 0.5s, top 0.5s, border-color 0.5s;

    &.top {
      left: var(--position-indicator-left);
      top: -8px;
    }
    &.bottom {
      transform: rotate(180deg);
      left: var(--position-indicator-left);
      bottom: -8px;
    }
    &.left {
      transform: rotate(270deg);
      left: -18px;
      top: var(--position-indicator-top);
    }
    &.right {
      transform: rotate(90deg);
      right: -18px;
      top: var(--position-indicator-top);
    }
  }

  &[data-size="small"] {
    background-image: url('img/map-small-no-grid.jpg');

    &.hd {
      background-image: url('img/hd/map-small-no-grid.jpg'), url('img/map-small-no-grid.jpg');
    }
    
    #map-elements {
      transform: rotate(45deg) translate(-10px, 20px);
      clip-path: polygon(30% 0%, 75% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

      .intersection {
        transform: rotate(-45deg);

        &:not(.green-light) {
          .objective-letter {
            top: -19px;
            right: 8px;

            &[data-position="16"] {
              top: -21px;
            }
            &[data-position="32"] {
              top: -21px;
              right: 7px;
            }
            &[data-position="45"] {
              top: -21px;
            }
            &[data-position="63"] {
              top: -20px;
              right: 9px;
            }
            &[data-position="101"] {
              top: -21px;
            }
            &[data-position="106"] {
              top: -18px;
              right: 9px;
            }
            &[data-position="133"] {
              top: -21px;
              right: 9px;
            }
          }
        }        

        &.green-light {
          .objective-letter {
            top: -28px;
            right: 8px;

            &[data-position="12"] {
              top: -27px;
            }
            &[data-position="25"] {
              top: -26px;
            }
            &[data-position="41"] {
              top: -25px;
            }
            &[data-position="54"] {
              top: -26px;
              right: 7px;
            }
            &[data-position="81"] {
              top: -26px;
              right: 7px;
            }
            &[data-position="85"] {
              top: -24px;
              right: 4px;
            }
            &[data-position="92"] {
              top: -25px;
              right: 7px;
            }
            &[data-position="112"] {
              top: -25px;
            }
          }
        }

        // shift for star buildings
        &#intersection11 {
          left: 204px !important;
          top: 12px !important;
        }
        &#intersection34 {
          left: 375px !important;
          top: 130px !important;
        }
        &#intersection76 {
          left: 497px !important;
          top: 361px !important;
        }
        &#intersection84 {
          left: 374px !important;
          top: 409px !important;
        }
        &#intersection106 {
          left: 488px !important;
          top: 524px !important;
        }
      }

      .route {
        &[data-direction="0"] {
          flex-direction: column;

          .marker {
            height: $marker-size;
          }
        }
        &[data-direction="1"] {
          .marker {
            width: $marker-size;
          }
        }
      }

      .common-objective-slot {
        top: 352px;

        &#common-objective-slot-1 {
          left: 1px;
        }
        &#common-objective-slot-2 {
          left: 110px;
        }
      }

      .ticket-slot {
        top: 221px;

        &#ticket-slot-1 {
          left: 1px;
        }
        &#ticket-slot-2 {
          left: 110px;
        }
      }
    }
    
  }
  &[data-size="big"] {
    background-image: url('img/map-big-no-grid.jpg');

    &.hd {
      background-image: url('img/hd/map-big-no-grid.jpg'), url('img/map-big-no-grid.jpg');
    }
    
    #map-elements {
      .route {
        &[data-direction="0"] {
          .marker {
            width: $marker-size;
          }
        }
        &[data-direction="1"] {
          flex-direction: column;

          .marker {
            height: $marker-size;
          }
        }
      }

      .intersection:not(.green-light) {
        .objective-letter {
          top: -13px;
          right: -14px;

          &[data-position="76"] {
            top: -9px;
          }
        }
      }

      .common-objective-slot {
        top: 16px;

        &#common-objective-slot-1 {
          left: 356px;
        }
        &#common-objective-slot-2 {
          left: 470px;
        }
      }

      .ticket-slot {
        top: 16px;

        &#ticket-slot-1 {
          left: 146px;
        }
        &#ticket-slot-2 {
          left: 241px;
        }
      }
    }
  }

  #map-elements {
    width: 740px;
    height: 740px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;

    .intersection {
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 20%;

      &.selectable {
        cursor: pointer;
        animation: highlight-intersection-animation 1s alternate infinite ease-in-out;
      }

      .objective-letter {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;

        &[data-reached="true"] {
          box-shadow: 0 0 5px 5px lime;
        }
        &[data-reached="false"] {
          box-shadow: 0 0 5px 5px red;
        }
      }

      &.green-light {
        .objective-letter {
          top: -16px;
          right: -8px;
        }
      }

      &:not(.green-light) {
        .objective-letter {
          top: -9px;
          right: -14px;
        }
      }

      &.glow {
        background: var(--background);
        animation: glow-intersection-animation 1s alternate infinite ease-in-out;
      }
    }

    .departure-pawn {
      position: relative;
      width: 32px;
      height: 44px;
      margin-top: -5px;
      z-index: 1;

      &::before {
        position: absolute;
        top: 2px;
        left: 2px;
        right: -2px;
        bottom: -2px;
        content: '';
        mask: url('img/departure.svg') no-repeat center / contain;
        -webkit-mask: url('img/departure.svg') no-repeat center / contain;
        background: black;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        mask: url('img/departure.svg') no-repeat center / contain;
        -webkit-mask: url('img/departure.svg') no-repeat center / contain;
        background: var(--background);
        animation: new-element-animation 0.5s;
      }
    }

    .marker {
      width: 32px;
      height: 32px;
      box-shadow: 1px 1px 1px 1px black;
      transition: opacity 0.5s;
      margin: 1px 0;

      &.unvalidated {
        animation: unvalidated-animation 1s alternate infinite ease-in-out;
      }

      &.ghost {
        cursor: pointer;
        animation: unvalidated-animation 1s alternate infinite ease-in-out;
        box-shadow: 0 0 2px 1px green;
        background: green;

        &.traffic-jam {
          box-shadow: 0 0 2px 1px greenyellow;
          background: greenyellow;
        }

        &.turn-zone {
          box-shadow: 0 0 2px 1px orange;
          background: orange;
        }

        &.elimination {
          box-shadow: 0 0 2px 1px black;
          background: black;
        }
      }
    }

    .route {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }

  .pips {
    position: absolute;
    pointer-events: none;

    &[data-side="left"] {
      left: 0;
    }
    &[data-side="right"] {
      right: 0;
    }

    &#pips-top {
      top: 0;
    }
    &#pips-bottom {
      bottom: 0;
    }

    .pip {
      position: relative;
      border: 8px ridge #e4273e;
      border-radius: 10px;
      overflow: hidden;
      z-index: 50;

      &.animated {        
        transition: transform 0.5s ease-in-out;
      }
    }
  }
}

@keyframes new-element-animation {
  0% { 
    transform: scale(10);
  }
  100% { 
    transform: unset;
  }
}

@keyframes unvalidated-animation {
  0% { 
    opacity: 0.6;
  }
  100% { 
    opacity: 1;
  }
}

@keyframes highlight-intersection-animation {
  0% { 
    box-shadow: 0 0 10px 10px white;
  }
  100% { 
    box-shadow: 0 0 15px 15px white;
  }
}

@keyframes glow-intersection-animation {
  0% { 
    //background: var(--background-lighter);
    box-shadow: 0 0 3px 5px var(--background-lighter);
  }
  100% { 
    //background: var(--background-darker);
    box-shadow: 0 0 5px 8px var(--background-darker);
  }
}

.common-objective-slot {
  position: absolute;
  width: 84px;
  height: 120px;

  .common-objective {
    width: 84px;
    height: 120px;

    @for $i from 1 through 6 {
      &[id="common-objective-#{$i}"] .card-side {
        background-position-x: #{($i - 1) * 20%};
      }
    }
    
    .card-side {
      background-image: url('img/common-objectives.png');
      background-size: auto 200%;
    
      &.front {
        background-position-y: 100%;
      }
      
      &.back {
        background-position-y: 0%;
      }
    }
  }

  .common-objective-counter {    
    z-index: 1;
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 90%;
    

    [data-reached="true"] {
      color: green;
    }
    [data-reached="false"] {
      color: rgb(148, 0, 0);
    }
  }
}

.ticket-slot {
  position: absolute;

  .ticket {
    width: 84px;
    height: 120px;

    @for $i from 1 through 12 {
      &[data-ticket="#{$i}"] .back {
        background-position-x: #{$i * 100% / 12};
      }
    }
    
    .card-side {
      background-image: url('img/tickets.png');
      background-size: auto 100%;
    
      &.front {
        background-position-x: 0%;
      }
    }
  }
}

.hd {
  .common-objective-slot {
    .common-objective {
      .card-side {
        background-image: url('img/hd/common-objectives.png'), url('img/common-objectives.png');
      }
    }
  }
  .ticket-slot {
    .ticket {
      .card-side {
        background-image: url('img/hd/tickets.png'), url('img/tickets.png');
      }
    }
  }
}

.card-inner {
  position: absolute;
  transition: transform 0.8s;
  transform-style: preserve-3d;

  &[data-side="1"] {
    transform: rotateY(180deg);
  }

  .card-side {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
    overflow: hidden;
  
    transition: transform 0.8s;
    transform-style: preserve-3d;
  
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  
    &.back {  
      transform: rotateY(180deg);
    }
  }
}

html[data-no-grid="false"][data-no-building="true"] {
  #map {
    &[data-size="small"] {
      background-image: url('img/map-small-no-building.jpg');

      &.hd {
        background-image: url('img/hd/map-small-no-building.jpg'), url('img/map-small-no-building.jpg');
      }
    }
    &[data-size="big"] {
      background-image: url('img/map-big-no-building.jpg');

      &.hd {
        background-image: url('img/hd/map-big-no-building.jpg'), url('img/map-big-no-building.jpg');
      }
    }
  }
}

html[data-no-grid="false"][data-no-building="false"] {
  #map {
    &[data-size="small"] {
      background-image: url('img/map-small.jpg');

      &.hd {
        background-image: url('img/hd/map-small.jpg'), url('img/map-small.jpg');
      }
      
    }
    &[data-size="big"] {
      background-image: url('img/map-big.jpg');

      &.hd {
        background-image: url('img/hd/map-big.jpg'), url('img/map-big.jpg');
      }
    }
  }
}

html[data-no-grid="true"][data-no-building="true"] {
  #map {
    &[data-size="small"] {
      background-image: url('img/map-small-no-grid-no-building.jpg');

      &.hd {
        background-image: url('img/hd/map-small-no-grid-no-building.jpg'), url('img/map-small-no-grid-no-building.jpg');
      }
      
    }
    &[data-size="big"] {
      background-image: url('img/map-big-no-grid-no-building.jpg');

      &.hd {
        background-image: url('img/hd/map-big-no-grid-no-building.jpg'), url('img/map-big-no-grid-no-building.jpg');
      }
    }
  }
}